{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
  <div class="jumbotron jumbotron-fluid pinky-border py-4">
    <div class="container text-center">
      <div class="flex-container-dashboard">
        <div class="option1">
          <h1 class="option_icon">26</h1>
          <h1 class="dashboard_subheader">Total Count</h1>
        </div>
        <div class="option2">
          <div class="logo_user"><i class="far fa-comments"></i></div>
          <h1 class="dashboard_header">Messages</h1>
        </div>
        <a class="option3" href="{% url 'search' %}">
          <div class="option_icon"><i class="fas fa-search"></i></div>
          <h1 class="dashboard_subheader">Search</h1>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="dashboard_content white_border mt-4 chatboard" style="height: 50vh; overflow-y: scroll; background-color: #242582;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Aniket Shahane</a>
      <p class="content_message mb-0">Hi, how're you doing ??</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Jason Mraz</a>
      <p class="content_message mb-0">Pubg khelne aarha hai kya??</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Shanay Shah</a>
      <p class="content_message mb-0">Sorry Padhna hai abi mujhe</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Shanay Shah</a>
      <p class="content_message mb-0">Sorry Padhna hai abi mujhe</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Shanay Shah</a>
      <p class="content_message mb-0">Sorry Padhna hai abi mujhe</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Shanay Shah</a>
      <p class="content_message mb-0">Sorry Padhna hai abi mujhe</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Shanay Shah</a>
      <p class="content_message mb-0">Sorry Padhna hai abi mujhe</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Shanay Shah</a>
      <p class="content_message mb-0">Sorry Padhna hai abi mujhe</p>
    </li>
    <li class="list-group-item" style="display: flex;">
      <a href="#" class="content_header">Shanay Shah</a>
      <p class="content_message mb-0">Sorry Padhna hai abi mujhe</p>
    </li>
  </ul>
</div>
{% endblock %}