{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
  <div class="jumbotron jumbotron-fluid pinky-border py-4">
    <div class="container text-center">
      <div class="flex-container-dashboard">
        <a href="{% url 'about' %}" class="option1">
          <h1 class="option_icon">{{total}}</h1>
          <h1 class="dashboard_subheader">Total Count</h1>
        </a>
        <a href="javascript:{document.getElementById('buttonformodal').click();}" class="option2">
          <!-- <i class="far fa-comments"></i> -->
          <div class="logo_user"><i class="fas fa-plus-circle"></i></div>
          <h1 class="dashboard_header">New Chat</h1>
        </a>
        <a class="option3" href="{% url 'search' %}">
          <div class="option_icon"><i class="fas fa-search"></i></div>
          <h1 class="dashboard_subheader">Search</h1>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="buttonformodal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="display: none;"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle" style="font-family: 'Roboto Condensed', cursive; font-size: 3.2vh;"><strong>Start A Chat !!</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #f4f4f4;">&times;</span>
        </button>
      </div>
      <div class="modal-body modal_body_content mb-0">
        <form class="my-4 main-form" action="{% url 'send' %}" id="submission_form_4" method="post">
          {% csrf_token %}
          <div class="flex-container-form fields">
            <label for="username" class="my-auto" style="flex:1;"><i class="fas fa-user-alt"></i></label>
            <input type="text" class="form-control form_input" name="username" placeholder="Username" style="flex:4;">
          </div>
          <div class="flex-container-form fields">
            <label for="password" class="my-auto" style="flex:1;"><i class="fas fa-scroll"></i></label>
            <textarea type="text" class="form-control form_input" name="message" placeholder="Message" style="flex:4;" rows="4"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary modal_send_button" onclick="javascript:{document.querySelector('#submission_form_4').submit()}">Send</button>
        <button type="button" class="btn btn-light modal_cancel_button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="dashboard_content white_border mt-4 text-center chatboard" style="height: 50vh; overflow-y: scroll; background-color: #242582;">
  <div class="flex-container">
    <div class="sent_section">
      <div class="container text-center">
        <h3 class="text-center dashboard_subheader mt-3 py-1 px-3" style="border: 2px solid #f64c72;display: inline-block; border-radius: 25px;">Sent <i class="far fa-comments"></i></h3>
      </div>
      {% if sent %}
      <ul class="list-group list-group-flush">
        {% for smessage in sent %}
        <li class="list-group-item mr-auto" style="display: flex; flex-wrap: wrap;">
          <div style="display: flex; flex-direction: row;">
            <div class="mx-auto my-auto" style="font-size: 2.2vh; font-family: 'Oswald', cursive;">{{smessage.prettyTime}} :</div>
            <a href="{% url 'chat' smessage.id%}" class="content_header text-center mt-0">@{{smessage.receiver}}</a>
          </div>
          <p class="content_message mb-0">{{smessage.shorterBody}}</p>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="content_message mb-0 mt-2">No Messages Sent !!</p>
      {% endif %}
    </div>
    <div class="received_section">
      <div class="container text-center">
        <h3 class="text-center dashboard_subheader mt-3 py-1 px-3" style="border: 2px solid #f64c72;display: inline-block; border-radius: 25px;">Received <i class="far fa-comments"></i></h3>
      </div>
      {% if received %}
      <ul class="list-group list-group-flush">
        {% for rmessage in received %}
        <li class="list-group-item mr-auto" style="display: flex; flex-wrap: wrap;">
          <!-- <a href="#" class="content_header text-center mt-0">{{rmessage.sender}}</a> -->
          <div style="display: flex; flex-direction: row;">
            <div class="mx-auto my-auto" style="font-size: 2.2vh; font-family: 'Oswald', cursive;">{{rmessage.prettyTime}} :</div>
            <a href="{% url 'chat' rmessage.id %}" class="content_header text-center mt-0">@{{rmessage.sender}}</a>
          </div>
          <p class="content_message mb-0">{{rmessage.shorterBody}}</p>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p class="content_message mb-0 mt-2">No Messages Received</p>
      {% endif %}
    </div>
  </div>
</div>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% endblock %}