{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="search-container text-center">
  <form id="submission_form_2" method="get" action="{% url 'search' %}">
    {% csrf_token %}
    <h1 class="search_header">Search</h1>
    <div class="flex-container-search search_fields my-4">
      <label for="username" class="my-auto content_message"><i class="fas fa-search"></i> Name</label>
      <input type="text" class="form-control form_input mt-auto" name="messenger_name" style="color: #242582;">
    </div>
    <div class="flex-container-search search_fields my-4">
      <label for="username" class="my-auto"><i class="fas fa-search"></i> Content</label>
      <input type="text" class="form-control form_input content_message my-auto" name="message_content" style="color: #242582;">
    </div>
    <a class="submit_form mx-auto mb-2" href="javascript:{document.querySelector('#submission_form_2').submit()}"><i class="fas fa-sign-in-alt mr-2 mt-auto"></i> Search</a>
  </form>
</div>

<div class="container mt-3">
  <div class="jumbotron jumbotron-fluid pinky-border py-4">
    <div class="container text-center">
      <div class="logo_user"><i class="far fa-comments"></i></div>
      <h1 class="dashboard_header">Results</h1>
      <div class="dashboard_content chatboard white_border mt-4" style="height: 25vh; overflow-y: scroll;">
        <ul class="list-group list-group-flush">
          {% if results and is_filtered %}
          {% for result in results %}
          <li class="list-group-item" style="display: flex;">
            <a href="{% url 'chat' result.sender %}" class="content_header">@{{result.sender}}: </a>
            <p class="content_message mb-0">{{result.shorterBody}}</p>
          </li>
          {% endfor %}
          {% else %}
          <p class="content_message my-4" style="font-size: 3.8vh;">Enter A Proper Search Term !!</p>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}