{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="jumbotron pinky-border py-4">
    <h1 class="jumbo-header text-center">About This Project</h1>
    <p class="jumbo-content">I am Aniket Shahane. I am a sophomore studying Computer Science. This project was solely created by me with Django, bootstrap, fontawesome, SASS, Javascript and HTML5. This messenger provides an elegant and responsive
      interface
      for sending
      messages to people. This
      project was just
      created for fun.</p>
  </div>
</div>
{% endblock %}